.header-part {

    display: flex;
    padding: 20px;
    border: 2px solid rebeccapurple;
    margin-top: 10px;
    background-color: burlywood;
    border-radius: 10px;

}

.header-part img {
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.header-part p {
    padding: 50px;
}





@media only screen and (max-width: 600px) {
    .header-part {
        background-color: blueviolet;
        padding: 0px;
        margin: 0;
        border-radius: 8px;
    }

    .header-part p {
        height: 200px;
        padding: 5px;
        margin: 0;
        border-radius: 5px;
    }

    .header-part img {
        height: 210px;
        width: 150px;
        border-radius: 10px;
        padding: 0;
        margin: 0;
    }
}